
    <div class="tweet-create-part">
      <div class="tc-logo">
        投稿する
      </div>
      <textarea class="tc-inputs quote-create" placeholder="好きな一節を入力してください。" rows="4" wrap="soft"></textarea>
      <input type="text" class="tc-inputs book-name-create" placeholder="本の名前を入力してください。">
      <textarea class="tc-inputs one-comment-create" placeholder="もしあれば、コメントを入力してください。" rows="4" wrap="soft"></textarea>
      <input type="submit" class="tc-submit">
    </div>

