.tweet
  .face
  .content
    .user-name
      = @user.name
    .quote
      = tweet.quote
    .source
      .book-title
        『サピエンス全史（上）』
      .author-name
        ユヴァル・ノア・ハラリ
    .evaluation
      .super-iine
        .super-iine-icon
          %i.fa.fa-heart
        .super-iine-count
          6
      .nomal-iine
        .nomal-iine-icon
          %i.fa.fa-star
        .nomal-iine-count
          22
      .share
        .share-icon
          %i.fa.fa-retweet
        .share-count
          12