.tweet
  .face
  .content
    .user-name
      = @user.name
    - if tweet.user_id == current_user.id
      .fa.fa-bars
      .tweet-edit-destroy
        = link_to "編集", edit_tweet_path(tweet), class: "tweet-edit"
        = link_to "削除", tweet_path(tweet), method: :delete, class: "tweet_destroy"
    .quote
      = tweet.quote
    .source
      .book-title
        『サピエンス全史（上）』
      .author-name
        ユヴァル・ノア・ハラリ
    .evaluation
      .super-iine
        .super-iine-icon
          %i.fa.fa-heart
        .super-iine-count
          6
      .nomal-iine
        .nomal-iine-icon
          %i.fa.fa-star
        .nomal-iine-count
          22
      .share
        .share-icon
          %i.fa.fa-retweet
        .share-count
          12