/ ユーザー情報スクロール後
.user-info-scr
  .scr-user-face
  .scr-user-name
    = @user.name
  .scr-user-status
    .userp-following.scr-status
      フォロー中
    .userp-notyetfollow.scr-status
      フォローする
    .userp-mysetting.scr-status
      設定
/ ユーザー情報
.user-page-info
  / 左サイド
  .userp-face-name
    .userp-face
    .userp-name
      = @user.name
    .userp-status
      .userp-following
        フォロー中
      .userp-notyetfollow
        フォローする
      .userp-mysetting
        設定
  / 中央サイド
  .sp-user-info-wrapper
    / PCでの中央サイド
    .userp-counts
      .userp-tweets-count
        .userp-tweets-count-logo
          投稿数
        .userp-tweets-count-number
          122
      .userp-follow-count
        .userp-follow-count-logo
          フォロー
        .userp-follow-count-number
          189
      .userp-follower-count
        .userp-follower-count-logo
          フォロワー
        .userp-follower-count-number
          140
    / スマホでは、PCの右サイドを中央に表示
    .sp-userp-favorites
      .userp-favorite-authors-logo
        好きな著者
      .userp-favorite-authors
        村上春樹、伊藤計劃、東浩紀
      .userp-favorite-books-logo
        好きな本
      .userp-favorite-books
        %span.userp-fav-book サピエンス全史
        、
        %span.userp-fav-book ノルウェーの森
        、
        %span.userp-fav-book ゲンロン０
  / 右サイド
  .userp-favorites
    .userp-favorite-authors-logo
      好きな著者
    .userp-favorite-authors
      村上春樹、伊藤計劃、東浩紀
    .userp-favorite-books-logo
      好きな本
    .userp-favorite-books
      %span.userp-fav-book サピエンス全史
      、
      %span.userp-fav-book ノルウェーの森
      、
      %span.userp-fav-book ゲンロン０

/ ツイート一覧

.us-tweets
  =render partial: "tweet", collection: @tweets
  .tweet-space
