/*ヘッダー*/

header{
  display: flex;
  align-items: center;
  position: relative;
  position: fixed;
  z-index: 1;
  width: 100%;
  min-width: 620px;
  background: #fff;
  height: 56px;
  border: solid 1px #888888;
  box-shadow: 2px 2px 4px gray;
  color: #444444;
}

/*ヘッダー(左側)*/

ul{
  display: flex;
  list-style: none;
}

.header-menu{
  text-align: center;
  margin-right: 6px;
  background: #D7EEFF;
  padding: 10px;
  width: 98px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px #444444 inset;
}

.header-user-menu{
  position: relative;
  padding: 7px 0;
  margin-left: 5px;
  width: 110px;
}

.header-user-menu-sb{
  padding: 7px 0;
}

.header-my-menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  background: #ddd;
  font-size: 18px;
  text-align: center;
  padding: 1px 7px;
  border-radius: 2px;
}

.to-mypage{
  padding: 6px 3px 4px;
}

.to-notice ,.to-logout{
  padding: 5px 3px 3px;
}

.to-mypage ,.to-notice{
  border-bottom: dashed 2px #333;
}

.left-part-sb{
  display: none;
}

.left-part-sb ul{
  display: flex;
}

.header-menu-sb{
  text-align: center;
  margin-right: 10px;
  background: #D7EEFF;
  padding: 10px 15px;
  border-radius: 40px;
  box-shadow: 2px 2px 4px #444444 inset;
}

/*ヘッダー(ロゴ)*/

.logo-sb{
  background: #66FFFF;
  display: none;
  padding: 10px;
  margin-left: 11px;
  text-align: center;
}

.logo{
  background: #66FFFF;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 50%;
}

/*ヘッダー(右側)*/

.right-part{
  position: absolute;
  right: 40px;
}

.search-window{
  background: #EEEEEE;
  border: solid 2px #AAAAAA;
  height: 22px;
  width: 250px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px #444444 inset;
  font-family: FontAwesome;
  font-size: 14px;
}

.tweet-btn{
  display: inline-block;
  background: #DDDDDD;
  padding: 6px 20px;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 4px #444444 inset;
}

/*＜ヘッダー＞ブラウザ<1000px>以下*/

@media screen and (max-width: 1000px) {
  ul{
    -webkit-padding-start: 20px;
  }

  .header-menu{
    margin-right: 8px;
  }

  .header-right-part{
    right: 25px;
  }

  .search-window{
    width: 150px;
  }

  .tweet-btn{
    padding: 6px 10px;
  }
}

/*＜ヘッダー＞ブラウザ<875px>以下*/

@media screen and (max-width: 930px) {
  ul{
    -webkit-padding-start: 10px;
  }

  .logo-sb{
    display: inline-block;
  }

  .logo{
    display: none;
  }
}

/*＜ヘッダー＞ブラウザ<750px>以下*/

@media screen and (max-width: 840px) {

  ul{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
  }

  .left-part{
    display: none;
  }

  .header-user-menu{
    display: none;
  }

  .header-my-menu{
    top: 45px;
  }

  .left-part-sb{
    display: flex;
    align-items: center;
  }

  .tweet-btn{
    margin-left: 10px;
  }

}

/*スマホバージョン*/

@media screen and (max-width: 430px) {
  header{
    height: 45px;
    width: 100%;
  }

  .logo-sb{
    height: 15px;
  }

  .left-part-sb{
    display: none;
  }

  .right-part{
    display: flex;
    align-items: center;
    right: 38%;
  }

  .tweet-btn{
    margin-left: 6px;
  }

}