.user-page-info{
  display: flex;
  padding-top: 90px;
  justify-content: center;
  min-width: 730px;
}

/*ユーザー情報ステータス*/

.userp-status{
  margin-top: 15px;
}

.userp-following{
  background: silver;
  padding: 5px 0;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #444444 inset;
}

.userp-notyetfollow{
  background: #fff;
  padding: 5px 0;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #444444 inset;
}

.userp-mysetting{
  background: silver;
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #444444 inset;
}

/*ユーザー情報*/
  /*左サイド*/

.userp-face-name{
  text-align: center;
  padding-right: 5%;
}

.userp-face{
  display: inline-block;
  height: 120px;
  width: 120px;
  border: solid 1px #888;
  border-radius: 60px;
}

.userp-name{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}


  /*中央サイド*/

.userp-counts{
  text-align: center;
  margin-top: 20px;
  margin-right: 5%;
}

.userp-follow-count ,.userp-follower-count{
  margin-top: 10px;
}

.userp-tweets-count-logo ,.userp-follow-count-logo ,.userp-follower-count-logo{
  color: #555;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 0.2px #000;
}

.userp-tweets-count-number ,.userp-follow-count-number ,.userp-follower-count-number{
  margin-top: 3px;
  font-size: 16px;
}

  /*右サイド*/

.userp-favorites{
  padding: 10px 0 60px 0;
  padding-left: 5%;
  margin-top: 5px;
  border-left: 3px dashed #888;
}

.userp-favorite-authors-logo ,.userp-favorite-books-logo{
  color: #555;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 0.2px #000;
}

.userp-favorite-books-logo{
  margin-top: 30px;
}

.userp-favorite-authors ,.userp-favorite-books{
  margin-top: 3px;
  font-size: 14px;
}

.userp-fav-book{
  text-decoration: underline;
  color: #0066FF;
}

/*ユーザー情報スクロール後*/

.user-info-scr{
  display: flex;
  justify-content: center;
  position: fixed;
  background: #fff;
  height: 60px;
  width: 100%;
  border: solid 1px
  margin: 0 auto;
  margin-top: 58px;
  border: solid 1px #888888;
  box-shadow: 2px 2px 4px gray;
  z-index: 1;
}

.scr-user-face{
  height: 50px;
  width: 50px;
  border: solid 1px #666;
  border-radius: 25px;
  margin-top: 4px;
}

.scr-user-name{
  font-weight: bold;
  font-size: 16px;
  margin: 18px 0 0 20px;
}

.scr-user-status{
  margin: 11px 0 0 30px;
}

.scr-status{
  padding: 7px 30px;
}

/*ユーザーページのツイート一覧*/

.us-tweets{
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.tweet{
  margin: 0 auto;
  margin-bottom: 3px;
}

/*スモールブラウザでのユーザーページへの導線なし*/

.header-user-info{
  display: none;
}


/*スマホver以外では表示しないもの*/

@media screen and (min-width: 431px) {

  .sp-userp-favorites{
    display: none;
  }

}

@media screen and (max-width: 430px) {

  /*ユーザー情報*/

  .user-page-info{
    width: 95%;
    min-width: 0;
    margin: 0 auto;
    padding-top: 70px;
  }

  /*ユーザー情報スクロール後*/

  .user-info-scr{
    margin-top: 47px;
    z-index: 1;
  }

  /*ユーザー情報ステータス*/

  .userp-following{
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 2px 2px 4px #444444 inset;
  }

  .userp-notyetfollow{
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 2px 2px 4px #444444 inset;
  }

  .userp-mysetting{
    border-radius: 2px;
    font-size: 12px;
    box-shadow: 2px 2px 4px #444444 inset;
  }

  /*PCverで左サイドの要素*/

  .userp-face-name{
    padding-right: 3%;
  }

  .userp-face{
    height: 60px;
    width: 60px;
  }

  .userp-name{
    font-size: 13px;
  }

  /*中央サイド*/
    /*投稿数、フォロー数、フォロワー数*/
  .userp-counts{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  .userp-follow-count ,.userp-follower-count{
    margin-top: 0;
  }

  .userp-tweets-count-logo ,.userp-follow-count-logo ,.userp-follower-count-logo{
    color: #555;
    font-weight: bold;
    font-size: 15px;
    -webkit-text-stroke: 0.2px #000;
  }

  .userp-tweets-count-number ,.userp-follow-count-number ,.userp-follower-count-number{
    margin-top: 3px;
    font-size: 13px;
  }

    /*フェイバリッツ*/
  .sp-userp-favorites{
    padding: 5px 0 30px 0;
    padding-left: 5%;
    margin-top: 5px;
  }

  .userp-favorite-authors-logo ,.userp-favorite-books-logo{
    color: #555;
    font-weight: bold;
    font-size: 15px;
    -webkit-text-stroke: 0.2px #000;
  }

  .userp-favorite-authors ,.userp-favorite-books{
    margin-top: 3px;
    font-size: 12px;
  }

  .userp-favorite-books-logo{
    margin-top: 10px;
  }


  /*PCverで右サイドの要素*/

  .userp-favorites{
    display: none;
  }

  /*ツイート一覧*/

  .us-tweets{
    width: 95%;
    margin: 0 auto;
  }

}

/*スマホver*/

@media screen and (max-width: 430px) {

  body{
    min-width: 0;
  }

  .wrapper{
    width: 95%;
    margin: 0 auto;
  }

  .tweets{
    width: 100%;
  }

  .tweet{
    width: 100%;
  }

  .face{
    width: 13%;
    height: 47px;
  }

  .content{
    width: 87%;
    margin-right: 10px;
  }

  .user-name{
    display: block;
    padding-top: 23px;
  }

  .fa-bars{
    top: 22px;
    right: 8px;
  }

  .quote{
    width: 100%;
    padding-top: 15px;
  }

  .source{
    margin: 10px 20px 5px 0;
  }

  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #fff;
    height: 45px;
    width: 100%;
    margin-top: 5px;
    border-top: solid 1px #333;
  }

  .footer-menu{
    font-size: 25px;

  }

  .footer-user-icon{
    height: 35px;
    width: 35px;
    border: solid 1px #333;
    border-radius: 20px;
  }
}

