%header
  .logo-sb
    ロゴ
  %ul.left-part
    %li.header-menu
      %i.fa.fa-home 投稿一覧
    %li.header-menu
      %i.fa.fa-star 人気
  .header-user-menu
    岩崎一朗
    %i.fa.fa-caret-down
    .header-my-menu
      .to-mypage マイページ
      .to-notice 通知
      .to-logout ログアウト
  .left-part-sb
    %ul
      %li.header-menu-sb
        %i.fa.fa-home
      %li.header-menu-sb
        %i.fa.fa-star
    .header-user-menu-sb
      岩崎一朗
      %i.fa.fa-caret-down
      .header-my-menu
        .to-mypage マイページ
        .to-notice 通知
        .to-logout ログアウト
    .header-user-info
      顔
  .logo
    ロゴ
  .right-part
    %input{type: "text", class: "search-window", placeholder: "&#xf002;キーワードで検索"}
    .tweet-btn
      = link_to "投稿する", new_tweet_path