%header
  .logo-sb
    ロゴ
  %ul.left-part
    %li.header-menu.header-log-in ログイン
    %li.header-menu.header-sign-up 新規登録
    %li.header-menu.header-popular-posts
      %i.fa.fa-star
      人気
  .left-part-sb
    %ul
      %li.header-menu.header-log-in ログイン
      %li.header-menu.header-sign-up 新規登録
      %li.header-menu-sb
        %i.fa.fa-star
    .header-user-info
      顔
  .logo
    ロゴ
  .right-part
    %input.search-window{type: "text", placeholder: "&#xf002;キーワードで検索"}/